{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %}Player edition{% endblock %}</title>

    <div class="container-fluid">
        <div class="card col-md-4">
            <div class="card-header">Edit Team</div>
            {% set playerId = form_players.vars.data.id %}


            {{ form_start(form_players) }}
            <div class="card-body">
                <div class="mb-4">
                    {{ form_row(form_players.name) }}
                </div>

                <div class="mb-4">
                    {{ form_row(form_players.position) }}
                </div>
                <div class="mb-4">
                    {{ form_row(form_players.team) }}
                </div>

                {{ form_widget(form_players.save) }}
            </div>
            {{ form_end(form_players) }}

            <div class="card-footer">

            <div class="col-4 mb-4">
            <a class="btn btn-outline-danger" href="{{ path('delete_player', {'id':playerId}) }}">Delete</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}